header {
    padding: 22px 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'Cera Round Pro', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

button {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#banner {
    background-color: #F2F6F8;
    color: #2D2D2D;
    padding: 85px 0 89px;
}

#banner ul {
    margin: 0;
    padding: 0 0 0 15px;
}

#banner ul li {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.02em;
    font-family: 'Open sans', sans-serif;
}

#banner .heading {
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.02em;
}

#banner button {
    background-color: #C81059;
    border-radius: 5px;
    padding: 15px 80px;
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    color: #fff;
    letter-spacing: .02rem;
    cursor: pointer;
    margin-top: 30px;
    border: 1px solid #C81059;
}

#banner button:hover {
    border: 1px solid #C81059;
    background-color: #fff;
    color: #C81059;
}

#banner button:active {
    border: 1px solid rgba(51, 51, 51, 0.5);
    color: #333333;
    background-color: #fff;
}

#banner button:focus {
    border: 1px solid #C81059;
    color: #C81059;
    background-color: #fff;
}

.sectionHeading {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: .02em;
    font-weight: 500;
    color: #2D2D2D;
}

#plans {
    padding: 52px 0 0;
    position: relative;
}

#plans .container {
    z-index: 1;
    position: relative;
}

#plans::before {
    content: '';
    display: block;
    width: calc(100vw - (50vw + 480px));
    /* width: 50%; */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(-90deg, #ffffff0d, #fff)
}

#plans::after {
    z-index: 2;
    content: '';
    display: block;
    width: calc(100vw - (50vw + 480px));
    /* width: 50%; */
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(90deg, #ffffff0d, #fff)
}

#plans .sectionHeading {
    margin-bottom: 33px;
}

#plans .owl-item {
    width: 347px !important;
}

@media screen and (min-width: 1400px) {
    #plans .owl-item {
        width: 347px !important;
    }
}

#plans article {
    box-shadow: 0px 12px 25px rgb(90 90 90 / 12%);
    padding: 30px;
}

.owl-carousel .owl-stage-outer {
    overflow: visible !important;
}

#plans article .product_title {
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    color: #000;
    margin-bottom: 12.5px;
    margin-top: 0;
}

#plans article .speed-internet {
    margin-bottom: 24px;
}

#plans article .speed-internet .text-muted {
    margin-bottom: 5px;
    color: #ACACAC;
    line-height: 21px;
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    letter-spacing: .02em;
}

#plans article .speed-internet h3 {
    color: #C81059;
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: .02em;
    font-weight: 500;
    margin: 0 0 4.5px;
}

#plans article .speed-internet p {
    color: #555555;
    letter-spacing: .02em;
    font-size: 13px;
    line-height: 19.5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#plans article .price {
    display: flex;
}

#plans article .price h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: .02em;
    margin: 0;
}

#plans article .price p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .02em;
    margin: auto 0 auto 10px;
    color: #55555580;
}

#plans .description {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .02em;
    color: #55555580;
    margin: 0 0 16px;
}

#plans article button {
    padding: 12px 89px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .02em;
    color: #fff;
    background: #C81059;
    border: 1px solid #C81059;
    transition: 300ms;
    cursor: pointer;
    z-index: 9999;
}

#plans article button:hover {
    color: #C81059;
    background-color: #fff;
}

#plans .input-group {
    display: flex;
}

#plans .input-group input {
    position: relative;
    width: 23px;
    height: 23px;
    margin-right: 10px;
    cursor: pointer;
}

#plans .input-group input:after {
    content: '';
    height: 23px;
    width: 23px;
    background-color: #fff;
    display: block;
    border: 1px solid #2D2D2D10;
    border-radius: 2px;
    transition: 300ms;
}

#plans .input-group input:checked::after {
    content: '';
    height: 23px;
    width: 23px;
    background-color: #0099C8;
    background-image: url('icons/y.png');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

#plans .input-group label {
    cursor: pointer;
}

#plans .input-group label p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .02em;
    margin: 0;
}
#request {
    margin: 55px 0 40px;
}

#request .wrapper {
    background-color: #F2F6F8;
    padding: 50px 50px 86px;
    border-radius: 20px;
}

#request .wrapper .sectionHeading {
    margin-bottom: 20px;
}

#request form .choose_product {
    display: flex;
    margin: 0 -5px 20px;
}

#request form .choose_product .input-group {
    margin: 0 5px;
}

#request .user-data {
    display: flex;
}

#request .user-data .data {
    margin-right: 33px;
}

#request .user-data input[type="submit"] {
    padding: 15px 80px;
    background-color: #C81059;
    border-radius: 5px;
    letter-spacing: .02em;
    line-height: 150%;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #C81059;
    transition: cubic-bezier(1, 0, 0, 1);
    cursor: pointer;
}

#request .user-data input[type="submit"]:hover {
    background: #fff;
    color: #C81059;
}

#request .user-data input[type="submit"]:active {
    background: #fff;
    border: 1px solid rgba(51, 51, 51, 0.5);
    color: #333333;
}

#request .user-data .data input {
    padding: 15px 25px 15px;
    font-size: 12px;
    font-family: 'Open sans', sans-serif;
    line-height: 150%;
    letter-spacing: .02em;
    outline: none;
    border: 0;
}

#request .user-data .data input:first-child {
    margin-right: 30px;
}

#request form .choose_product label {
    padding: 8.5px 40px;
    border: 1px solid rgba(45, 45, 45, 0.1);
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: .02em;
}

#request form .choose_product label.active {
    padding: 8.5px 40px;
    border: 1px solid #0099C8;
    color: #0099C8;
    border-radius: 10px;
    cursor: pointer;
}

#request form .choose_product input {
    display: none;
}

footer .container {
    padding: 20px 0;
    border-top: 1px solid rgba(45, 45, 45, 0.1);
    border-bottom: 1px solid rgba(45, 45, 45, 0.1);
}

footer .footer-text {
    margin: auto 0;
}

footer .socials {
    margin: auto 0 auto auto;
}

footer .socials ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-right: -7.5px;
    padding: 0;
}

footer .socials ul li {
    margin: 0 10px;
}

footer p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .2px;
    color: #C2C2C2;
    margin: 0;
}

footer .logotype {
    margin-right: 60px;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('cera/CeraRoundProThin.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('cera/CeraRoundProLight.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('cera/CeraRoundProMedium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('cera/CeraRoundProBlack.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Cera Round Pro';
    font-weight: 600;
    src: url('cera/CeraRoundProBold.otf');
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('cera/CeraRoundProRegular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Open sans';
    src: url('OpenSans-Regular.ttf');
    font-weight: 400;
}